.navbar {
    background-color: darkgreen;
}

body {
    background-color: burlywood;
}

.navbar img {
    height: 100px;
    width: 150px;
    padding-left: 1rem;
}

.hamburger {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

footer {
    background-color: darkgreen;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    text-align: center;
    width: 100%;
    color: antiquewhite;
}

img,
.bodyImage {
    height: 200px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px 20%;
}


h1 {
    color: darkgreen;
    text-align: center;
    margin: 1rem;
}


#selectorElement {
    display: inline-block;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50%;
    height: 17.5vw;
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
}


/* #imgElement {
    display: inline-block; 
    border: 1px solid green;
    box-shadow: .15rem .15rem;
    border-radius: 1rem;
    opacity: .5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 40%;
    float: right;
    height: 150px;


} */

#descriptionElement {
    display: inline-block;
    border-radius: 1rem;
    margin-bottom: 5rem;
    height: 17.5vw;
    width: 100%;
    max-width: 50%;
    font-size: 2rem;
}

#mapElement {
    display: block;
    border: 1px solid green;
    box-shadow: .15rem .15rem;
    border-radius: 1rem;
    opacity: .5;
    height: 150px;
    margin-bottom: 5rem;
    width: 100%;

    float: right;
}

.carousel-inner {
    width: 100%;
    max-width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.bottomText, .topText {
    margin-bottom: 5rem;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    
}

img.d-block{
    height:100%;
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;

}
.carousel-inner{
    margin-bottom: 5rem;
}
.imgElement{
    object-fit: contain ;
    height: 35vw;
    width: 100%;
    float: right;
    max-width: 50%;
    margin-top: 3rem;
    opacity: 0;
}